<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if session[:user_email].nil? %>
  <a href="/question/login">로그인</a>
  <a href="/question/sign_up">회원 가입</a>
  <%else%>
  <a href="/question/logout">로그아웃</a><br>
  <!--<p><%= session[:user_email]%>님 환영합니다.</p>-->
  <p><%= User.find_by(email: session[:user_email]).name %>님 환영합니다.</p>
  <%end%>

<%= yield %>

</body>
</html>
